<%= javascript_include_tag 'newapplication_step2' %>

<div id="quickquote_error_msg">
  <%= render 'shared/error_messages', object: @newapplication %>
</div>

<% provide(:title, "New policy - step 2 of 4") %>

<%= hidden_field_tag :hidden, @newapplication["odometer"], "data-id" => 'odometer' %>

<div class="button-wrapper">

  <div>

    <div>
      <h1>New Auto Replacement Cost Policy - Coverage, premiums and fees</h1>
      <br>
    </div>
    <div>
      <%= form_with model: Quickquote.create, html: {id: 'quickquote_form'} do |f| %>
        <!--Hidden fields-->
        <%= f.hidden_field :model_year, value: @newapplication.model_year %>
        <%= f.hidden_field :purchase_date, value: @newapplication.purchase_date %>
        <%= f.hidden_field :vehicle_price, value: @newapplication.vehicle_price  %>
        <%= f.hidden_field :transferred_premium, value: @newapplication.transferred_premium %>
        <%= f.hidden_field :dealer_category, value: @newapplication.dealer_category %>

        <!-- Fields displayed-->

        <div class="wrapper_1_1">
          <div>
            <h4>Coverage details</h4>
            <hr>
            <div class="form_div">
              <%= f.label :coverage_type, 'Coverage type:' %>
              <%= f.select :coverage_type, {}, {}, {class: 'form-control'} %>

              <%= f.label :policy_term, 'Policy term:'%>
              <%= f.select :policy_term, {}, {},  {class: 'form-control'}%>

              <%= f.label :oem_body_parts, 'OEM Body Parts:'%>
              <%= f.select :oem_body_parts, {}, {} , {class: 'form-control'} %>

              <%= f.label :billing_type,'Billing type:'%>
              <%= f.select :billing_type, {}, {}, {class: 'form-control'}%>

              <%= f.label :financing_term,'Financing term:', class: 'financing_term'%>
              <%= f.select :financing_term, {}, {}, {class: 'form-control financing_term'} %>

            </div>
          </div>
          <div id="quickquote_result">
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= form_for @newapplication, as: :newapplication, url: newapplication_step2_path do |f| %>

      <%= f.hidden_field :coverage_type %>
      <%= f.hidden_field :policy_term  %>
      <%= f.hidden_field :oem_body_parts %>
      <%= f.hidden_field :billing_type %>
      <%= f.hidden_field :financing_term %>
      <%= f.hidden_field :monthly_payment %>

      <div class="wrapper_1_1">
        <div></div>
        <div class="row">
          <div class="col-md-4 btn-padding">
            <button type="submit" name="commit" value="<< Previous" class="btn btn-primary" style="width: 100%;">
              <i class="fas fa-chevron-circle-left"></i>
              Previous
            </button>
          </div>
          <div class="col-md-4 btn-padding">
            <button id="step2NextButton" type="submit" name="commit" value="Next >>" class="btn btn-primary" style="width: 100%;">
              Next
              <i class="fas fa-chevron-circle-right"></i>
            </button>
          </div>
          <div class="col-md-4 btn-padding">
            <button type="submit" name="commit" value="Save" class="btn btn-secondary" data-confirm="Click 'OK' to confirm saving the application. This will direct you to the main page" style="width: 100%;">
              <i class="fas fa-save"></i>
              Save
            </button>
          </div>
        </div>
      </div>

    <% end %>
  </div>

</div>

<div class="progress">
  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Step 2</div>
</div>
