<% javascript_include_tag 'change_password' %>

<% provide(:title, "Change password") %>

<h1>Change password</h1>
<br>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= form_for @user, as: :change_password, url: change_password_path, method: :patch do |f| %>

      <%= render 'shared/error_messages', resource: @user %>

      <%= f.label :current_password %>
      <%= f.password_field :current_password, placeholder: "Enter your current password", class: 'form-control' %>

      <%= f.label :password, "New password" %>
      <i class="fas fa-question-circle" style="color: #787878;" title="Must contain: 8 characters, one lower-case letter, one upper-case letter, one number"></i>
      <div class="input-group">
        <%= f.password_field :password, placeholder: "New password", class: 'form-control' %>
        <div class="input-group-append">
          <button class="btn btn-light input-group-text" type="button" id="toggle_password_button">
            <i class="fas fa-eye fa-lg" id="toggle_password_icon"></i>
          </button>
        </div>
      </div>

      <br>
      <%= f.submit "Change password", class: 'btn btn-primary' %>

    <% end %>

  </div>
  <div class="col-md-4"></div>
</div>

